<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <automater>
            <api_configuration>
                <active>1</active>
                <synchro>1</synchro>
            </api_configuration>
        </automater>
    </default>
</config>
