<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="createTransaction" instance="Automater\Automater\Observer\CreateTransaction"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="payTransaction" instance="Automater\Automater\Observer\PayTransaction"/>
    </event>
</config>
